h1, h2, h3, h4, h5, h6 {
	color: black;
	text-shadow: white 1px 1px;
}

@font-face {
  font-family: myFirstFont;
  src: url(Abdo.Fonts_Abdo.Logo.ttf);
}

* {
	font-family: myFirstFont;
}

body {
	background-image: url("bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div {
	border: 2px solid yellow;
	width: 14%;
	display: inline-block;
	padding: 10px;
	background-color: silver;
}

hr {
	padding-top: 5px;
	background-color: black;
}

a:link {
	color: yellow;
}

div:hover {
	border-color: red;
}

h5:hover {
	text-decoration: underline;
}

#loader {
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #444444;
        width: 70px;
        height: 70px;
        animation: spin 1s linear infinite;
}
      
@keyframes spin {
        100% {
        transform: rotate(360deg);
        }
}
      
.center {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
}